<div class="wrapper">
  <h2>Custom Wrapper</h2>
  <div class="wrapper-content">
    <slot />
  </div>
</div>

<style>
  .wrapper {
    padding: 1rem;
  }

  .wrapper-content {
    border: 1px solid black;
    border-radius: 0.25rem;
    padding: 1rem;
  }
</style>
