<!-- Custom font -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Freckle+Face&family=Lobster&family=Press+Start+2P&display=swap"
  rel="stylesheet">

<style>
  .font-freckle-face {
    font-family: 'Freckle Face', system-ui;
    font-weight: 400;
    font-style: normal;
  }

  .font-lobster {
    font-family: 'Lobster', sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .font-press-start-2p {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
  }
</style>
