name: Release

on:
  push:
    branches:
      - master

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  prepare:
    name: Prepare
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: ./.github/actions/setup

      - name: Create Release Pull Request
        id: changesets
        uses: changesets/action@v1
        with:
          version: pnpm ci:version
          commit: 'chore: version packages'
          title: 'chore: version packages'
          createGithubReleases: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish:
    name: Publish
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v5

      - uses: ./.github/actions/setup

      - name: Build packages
        run: pnpm build:package

      - name: Publish to NPM
        run: pnpm ci:publish

      - name: Get package version
        run: |
          MAIN_VERSION=$(jq -r ".version" packages/astrobook/package.json)
          echo "MAIN_RELEASE_TAG=v${MAIN_VERSION}" >> "$GITHUB_ENV"

      - name: Create GitHub release
        uses: ncipollo/release-action@v1
        with:
          commit: master
          tag: '${{ env.MAIN_RELEASE_TAG }}'
          body: 'Please refer to [CHANGELOG.md](https://github.com/ocavue/astrobook/blob/${{ env.MAIN_RELEASE_TAG }}/packages/astrobook/CHANGELOG.md) for details.'
          token: ${{ secrets.GITHUB_TOKEN }}
        continue-on-error: true
