name: Release (dev)
on: [pull_request]

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: ./.github/actions/setup

      - run: pnpm run ci:publish-dev
